/*Newsfeed Fonts*/
@font-face{
	font-family: "rajdhani";
	src: url(../fonts/Rajdhani-Regular.ttf) format('truetype');
}
@font-face{
	font-family: "rajdhani";
	src: url(/fonts/Rajdhani-Bold.ttf) format('truetype');
	font-weight: bold;
}

body{
	font-family: rajdhani,Segoe, Segoe UI, DejaVu Sans, Trebuchet MS, Verdana," sans-serif";
	font-size: 18px;
}
.main-section{
	width: 95%;
}
/*WEBSITE LAYOUT*/


img{
	width: 100%;
	height: auto;
}
.col-md-12{
	padding-left: 0px;
	padding-right: 0px;
}
.article{
	margin: 2rem;
	box-shadow: 0 0px 8px rgba(0,0,0,0.2);
}


/*Small Article Block*/

.small-art{
	background-color: #02b2f4;
	color: white;
	text-align: center;
	height: 22rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.small-art h1{
	font-size: 3rem;
	padding: 0rem 1rem;
}


/*Medium Article Block*/

.medium-art{
	
	
}
.news-nav{
	display: flex;
	justify-content: space-between;
	align-content: center;
	padding: 2rem;
}

.text-section .fa{
	color: #ef0166;
}

/*Large Article Block*/

.lg-text{
	position: fixed;
	top: 5rem;
	font-weight: bold;
	
}
